<section class="w-full mt-2">
  <div class="flex flex-col w-full">
    <!-- Виведення повідомлення про завантаження -->
    <div *ngIf="loading" class="text-center text-lg text-gray-500 my-2">
      Loading...
    </div>

    <!-- Виведення постів після завантаження -->
    <div *ngIf="!loading && posts.length > 0" class="flex flex-col gap-2 w-full">
      <!-- Перебір кожного поста -->
      <div
        *ngFor="let post of posts"
        class="bg-[#ffffff] p-4 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 flex flex-col"
      >
        <!-- Інформація про автора -->
        <div class="flex items-center mb-3">
          <img
            [src]="
              post.profilePictureUrl || '/assets/images/Sample_User_Icon.png'
            "
            alt="Author Avatar"
            class="w-10 h-10 rounded-full mr-3 shadow-sm"
          />
          <div>
            <h4 class="font-bold text-lg">{{ post.userName }}</h4>
            <p class="text-sm text-gray-600">
              {{ post.createdAt | date : "short" }}
            </p>
          </div>
        </div>

        <a [routerLink]="['post', post.id.toString()]" class="block">
          <!-- Заголовок поста -->
          <h3 class="text-xl font-semibold mb-2 text-gray-800">
            {{ post.title }}
          </h3>
          <!-- Опис поста (обрізаний до 120 символів) -->
          <p class="text-gray-700 mb-3" [innerHTML]="post.content"></p>
        </a>

        <!-- Дії (Лайки, Коментарі) -->
        <div
          class="flex justify-between text-gray-600 text-sm mt-2 border-t pt-2"
        >
          <!-- Лайки -->
          <button
            (click)="toggleLike(post)"
            class="flex items-center group"
            [ngClass]="
              post.isLiked
                ? 'text-green-600'
                : 'text-gray-600 hover:text-green-600'
            "
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-1"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M14 9l-2-2m0 0l-2 2m2-2v6m-6 2a2 2 0 01-2-2v-4a2 2 0 012-2h.01"
              ></path>
            </svg>
            Like <span class="ml-2">{{ post.likesCount }}</span>
          </button>

          <!-- Коментарі -->
          <a
            [routerLink]="['post', post.id.toString()]"
            class="flex items-center group hover:text-blue-600"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-1"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M8 10h8m-8 4h4m1-14a7 7 0 11-14 0 7 7 0 0114 0z"
              ></path>
            </svg>
            Comment <span class="ml-2">{{ post.commentsCount }}</span>
          </a>
        </div>
      </div>
    </div>

    <!-- Виведення, якщо немає постів -->
    <div
      *ngIf="!loading && (!posts || posts.length === 0)"
      class="text-center animate-fade-in text-gray-500 my-4"
    >
      No posts available.
    </div>
  </div>
</section>
