<section #scrollContainer class="w-full h-full overflow-y-scroll">
  <div class="pr-2">
    <!-- Creating post -->
    <app-create-post
      [currentUser]="currentUser()"
      (addPost)="addPost($event)"
    ></app-create-post>

    <div class="flex flex-col w-full">
      <!-- Display posts after loading -->
      <div class="flex flex-col gap-2 w-full">
        <!-- Iterate over each post -->
        @for(post of posts(); track post.id) {
        <div
          class="bg-[#ffffff] p-4 rounded-lg transition-all duration-300 flex flex-col"
        >
          <!-- Author information -->
          <div class="flex items-center mb-3">
            <img
              [src]="
                post.profilePictureUrl || '/assets/images/Sample_User_Icon.png'
              "
              alt="Author Avatar"
              class="w-10 h-10 rounded-full mr-3"
            />
            <div>
              <h4 class="font-bold text-lg">{{ post.userName }}</h4>
              <p class="text-sm text-gray-600">
                {{ post.createdAt | timeAgo }}
              </p>
            </div>
          </div>

          <div class="cursor-pointer" (click)="navigateToPost(post.id)">
            <div class="mb-3" (click)="onLinkClick($event, post.id)">
              <div [innerHTML]="post.content"></div>
            </div>
            <!-- Iterate over images -->
            <div *ngIf="post.images && post.images.length > 0" class="mt-3">
              <div *ngFor="let image of post.images">
                <img [src]="image" alt="Post Image" class="w-full" />
              </div>
            </div>
          </div>

          <!-- Actions (Likes, Comments) -->
          <div
            class="flex justify-between text-gray-600 text-sm mt-2 border-t pt-2"
          >
            <!-- Likes -->
            <button
              (click)="toggleLike(post)"
              class="flex items-center group"
              [ngClass]="
                post.isLiked
                  ? 'text-green-600'
                  : 'text-gray-600 hover:text-green-600'
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 mr-1"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 9l-2-2m0 0l-2 2m2-2v6m-6 2a2 2 0 01-2-2v-4a2 2 0 012-2h.01"
                ></path>
              </svg>
              Like <span class="ml-2">{{ post.likesCount }}</span>
            </button>

            <!-- Comments -->
            <a
              [routerLink]="['post', post.id.toString()]"
              class="flex items-center group hover:text-blue-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 mr-1"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 10h8m-8 4h4m1-14a7 7 0 11-14 0 7 7 0 0114 0z"
                ></path>
              </svg>
              Comment <span class="ml-2">{{ post.commentsCount }}</span>
            </a>
          </div>
        </div>
        }
      </div>

      <!-- Display if there are no posts -->
      <div
        *ngIf="!loading && (!posts || posts.length === 0)"
        class="text-center animate-fade-in text-gray-500 my-4"
      >
        No posts available.
      </div>
    </div>
  </div>
</section>
