<section class="w-full h-full">
  <div class="pr-2">
    <!-- Creating post -->
    <app-create-post
      [currentUser]="currentUser()"
      (addPost)="addPost($event)"
    ></app-create-post>

    <div class="flex flex-col w-full">
      <!-- Display posts after loading -->
      <div class="flex flex-col gap-2 w-full">
        <!-- Iterate over each post -->
        @for(post of posts(); track post.id) {
        <div
          class="bg-[#ffffff] p-4 rounded-lg transition-all duration-300 flex flex-col cursor-pointer"
          (click)="onLinkClick($event, post.id)"
        >
          <div class="relative cursor-pointer flex items-center mb-3">
            <!-- Аватар автора -->
            <img
              #avatarContainer
              [src]="
                post.profilePictureUrl || '/assets/images/Sample_User_Icon.png'
              "
              alt="Author Avatar"
              class="w-10 h-10 rounded-full mr-3"
              (click)="goToUserProfile($event, post.userName)"
              (mouseenter)="showUserModal(post.userName, avatarContainer)"
              (mouseleave)="hideUserModal()"
            />
            <div>
              <h4
                class="font-bold text-lg"
                (click)="goToUserProfile($event, post.userName)"
              >
                {{ post.userName }}
              </h4>
              <p class="text-sm text-gray-600">
                {{ post.createdAt | formattedDate }}
              </p>
            </div>

            <!-- Модальне вікно стилізоване -->
            <div
              *ngIf="showModal && hoveredUser === post.userName"
              class="fixed w-80 bg-white border border-gray-300 rounded-xl p-4 shadow-2xl z-50 transition-opacity duration-200 ease-in-out"
              [ngClass]="{ 'opacity-100': showModal, 'opacity-0': !showModal }"
              [style.top.px]="modalPosition.top"
              [style.left.px]="modalPosition.left"
              (mouseleave)="hideUserModal()"
              (click)="goToUserProfile($event, post.userName)"
            >
              <!-- Аватар -->
              <div class="flex items-center mb-3">
                <img
                  [src]="
                    post.profilePictureUrl ||
                    '/assets/images/Sample_User_Icon.png'
                  "
                  alt="User Avatar"
                  class="w-14 h-14 rounded-full mr-3 border"
                />
                <button
                  class="ml-auto px-3 py-1 border border-gray-400 rounded-full text-sm hover:bg-gray-100"
                >
                  Підписка
                </button>
              </div>

              <!-- Ім'я та юзернейм -->
              <div class="mb-1">
                <p class="text-lg font-semibold truncate">
                  {{ post.userName }}
                </p>
                <p class="text-sm text-gray-500">{{ post.userName }}</p>
              </div>

              <!-- Опис -->
              <p class="text-sm text-gray-700 mb-3">
                {{  "Опис користувача відсутній." }}
              </p>

              <!-- Статистика -->
              <div class="flex gap-4 text-sm text-gray-600 mb-2">
                <span><strong>160</strong> читає(те)</span>
                <span><strong>5 408</strong> читачів</span>
              </div>

              <!-- Заглушка взаємних -->
              <div class="flex items-center text-sm text-gray-500 mb-2">
                <img
                  src="/assets/images/Sample_User_Icon.png"
                  class="w-6 h-6 rounded-full mr-2"
                  alt="avatar"
                />
                <span
                  >Читають {{ post.userName }} і ще кілька з-поміж тих, кого ви
                  читаєте</span
                >
              </div>

              <button
                class="w-full mt-2 py-1 border border-gray-400 rounded-lg text-sm hover:bg-gray-100"
              >
                Зведення профілю
              </button>
            </div>
          </div>

          @if(post.hubName){
          <div class="flex flex-wrap gap-2 mb-2">
            <span
              class="text-xs bg-green-100 text-green-800 px-2 py-1 rounded-full"
            >
              {{ post.hubName }}
            </span>
          </div>
          }

          <div class="cursor-pointer" (click)="navigateToPost(post.id)">
            <div class="mb-3">
              <div [innerHTML]="post.content"></div>
            </div>
            <!-- Iterate over images -->
            <div *ngIf="post.images && post.images.length > 0" class="mt-3">
              <div *ngFor="let image of post.images">
                <img [src]="image" alt="Post Image" class="w-full" />
              </div>
            </div>
          </div>

          <!-- Actions (Likes, Comments) -->
          <div
            class="flex justify-between text-gray-600 text-sm mt-2 border-t pt-2"
          >
            <!-- Likes -->
            <button
              (click)="toggleLike(post); $event.stopPropagation()"
              class="flex items-center group"
              [ngClass]="
                post.isLiked
                  ? 'text-green-600'
                  : 'text-gray-600 hover:text-green-600'
              "
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 mr-1"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 9l-2-2m0 0l-2 2m2-2v6m-6 2a2 2 0 01-2-2v-4a2 2 0 012-2h.01"
                ></path>
              </svg>
              Like <span class="ml-2">{{ post.likesCount }}</span>
            </button>

            <!-- Comments -->
            <a
              [routerLink]="['post', post.id.toString()]"
              class="flex items-center group hover:text-blue-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 mr-1"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 10h8m-8 4h4m1-14a7 7 0 11-14 0 7 7 0 0114 0z"
                ></path>
              </svg>
              Comment <span class="ml-2">{{ post.commentsCount }}</span>
            </a>
          </div>
        </div>
        }
      </div>

      <!-- Display if there are no posts -->
      <div
        *ngIf="!loading && (!posts || posts.length === 0)"
        class="text-center animate-fade-in text-gray-500 my-4"
      >
        No posts available.
      </div>
    </div>
  </div>
</section>
