<div class="flex justify-center h-full">
  <!-- Content container -->
  @if(user()){
  <div class="grow max-w-[50rem] mx-auto mt-6">
    <!-- Profile text -->
    <h2 class="text-3xl font-bold text-black">Профіль</h2>

    <!-- User Photo -->
    <div class="flex justify-center items-center">
      <img
        [src]="
          user()?.profilePictureUrl || '/assets/images/Sample_User_Icon.png'
        "
        alt="Profile photo"
        class="size-36 rounded-full border"
      />
    </div>

    <!-- Buttons -->
    <div class="flex justify-between">
      <!-- Add photo button -->
      <button
        class="mt-2 px-4 py-2 border rounded-full text-base font-medium flex items-center gap-3 hover:bg-teal-500 hover:text-white transition"
        (click)="fileInput.click()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-6"
          viewBox="0 0 512 512"
          fill="currentColor"
        >
          <g transform="translate(0,512) scale(0.1,-0.1)" stroke="none">
            <path
              d="M1852 4463 c-62 -30 -76 -59 -126 -257 -25 -102 -46 -190 -46 -196 0 -7 289 -10 880 -10 591 0 880 3 880 10 0 6 -21 94 -46 196 -51 200 -67 234 -131 260 -26 11 -159 14 -705 14 -599 0 -677 -2 -706 -17z"
            />
            <path
              d="M521 3824 c-169 -45 -301 -180 -346 -351 -23 -87 -22 -2380 0 -2468 45 -172 179 -305 352 -350 50 -13 314 -15 2033 -15 2176 0 2028 -4 2151 61 115 62 214 197 239 328 6 35 10 469 10 1220 0 1015 -2 1174 -15 1226 -45 172 -179 305 -352 350 -85 22 -3989 21 -4072 -1z m2209 -479 c235 -35 449 -144 620 -315 400 -401 439 -1027 92 -1476 -317 -411 -884 -549 -1349 -329 -459 217 -714 690 -638 1185 35 235 144 449 315 620 255 255 604 370 960 315z m-1707 -159 c103 -43 128 -177 48 -257 -112 -113 -296 -12 -267 146 18 94 128 150 219 111z"
            />
            <path
              d="M2425 3029 c-294 -58 -531 -260 -619 -528 -99 -301 -28 -607 190 -825 156 -156 338 -231 564 -231 226 0 408 75 564 231 156 156 231 338 231 564 0 174 -36 298 -124 432 -113 173 -274 288 -481 345 -68 18 -258 25 -325 12z m270 -164 c179 -37 353 -171 434 -335 71 -144 91 -315 45 -377 -39 -52 -71 -68 -134 -68 -99 0 -146 50 -161 171 -22 170 -129 283 -286 300 -86 9 -119 21 -152 59 -52 59 -53 147 -4 206 51 60 123 72 258 44z"
            />
          </g>
        </svg>
        <span>Додати фото</span>
      </button>

      <!-- Input for add photo -->
      <input
        type="file"
        accept="image/*"
        (change)="onPhotoSelected($event)"
        #fileInput
        hidden
      />

      <!-- Delete button -->
      <button
        class="mt-2 px-5 py-2 border rounded-full text-base font-medium flex items-center justify-center gap-2 hover:bg-teal-500 hover:text-white transition"
        (click)="openDeleteModal()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="size-6"
          viewBox="0 0 512 512"
          fill="currentColor"
        >
          <g transform="translate(0,512) scale(0.1,-0.1)" stroke="none">
            <path
              d="M1871 5109 c-128 -25 -257 -125 -311 -241 -37 -79 -50 -146 -50 -259 l0 -88 -487 -3 c-475 -3 -489 -4 -534 -24 -60 -28 -125 -93 -152 -153 -30 -64 -30 -178 0 -242 27 -60 92 -125 152 -153 l46 -21 2025 0 2025 0 46 21 c60 28 125 93 152 153 30 64 30 178 0 242 -27 60 -92 125 -152 153 -45 20 -59 21 -533 24 l-488 3 0 88 c0 49 -5 112 -10 142 -34 180 -179 325 -359 359 -66 12 -1306 12 -1370 -1z m1359 -309 c60 -31 80 -78 80 -190 l0 -90 -750 0 -750 0 0 90 c0 110 20 159 78 189 36 19 60 20 670 21 615 0 634 -1 672 -20z"
            />
            <path
              d="M625 3578 c3 -24 62 -727 130 -1563 69 -836 130 -1558 136 -1605 24 -197 159 -352 343 -395 91 -22 2561 -22 2652 0 184 43 319 198 343 395 6 47 67 769 136 1605 68 836 127 1539 130 1563 l5 42 -1940 0 -1940 0 5 -42z m1122 -286 c17 -12 37 -36 46 -54 12 -26 32 -304 92 -1273 l77 -1239 -21 -43 c-37 -77 -129 -104 -205 -60 -76 43 -66 -39 -151 1332 l-77 1239 21 43 c38 79 146 106 218 55z m883 8 c26 -13 47 -34 60 -60 20 -39 20 -56 20 -1280 0 -1224 0 -1241 -20 -1280 -23 -45 -80 -80 -130 -80 -50 0 -107 35 -130 80 -20 39 -20 56 -20 1280 0 1223 0 1241 20 1280 37 73 124 99 200 60z m901 0 c27 -14 46 -34 60 -63 l21 -43 -77 -1239 c-85 -1371 -75 -1289 -151 -1332 -76 -44 -168 -17 -205 60 l-21 43 76 1234 c71 1155 77 1238 97 1277 15 29 34 48 63 63 52 25 86 25 137 0z"
            />
          </g>
        </svg>
        <span class="text-base">Видалити фото</span>
      </button>

      <!-- Modal for delete -->
      <div
        *ngIf="isDeleteModalOpen"
        class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
      >
        <div class="bg-white p-6 rounded-lg shadow-lg w-80 text-center">
          <h2 class="text-xl font-semibold mb-4">Are you sure?</h2>
          <p class="text-gray-600 mb-6">This action cannot be undone.</p>

          <div class="flex justify-between">
            <button
              class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700 transition w-full mr-2"
              (click)="confirmDeletePhoto()"
            >
              Yes, Delete
            </button>
            <button
              class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400 transition w-full ml-2"
              (click)="closeDeleteModal()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-10">
      <!-- Right:Content -->
      <div class="w-full flex flex-col">
        <!-- Dirty Form Warning -->
        <div
          *ngIf="editForm?.dirty"
          class="p-4 mt-4 rounded-md bg-teal-50 border border-teal-200 text-teal-800 shadow-sm"
        >
          <p class="text-sm">
            <strong class="font-semibold">Note:</strong>
            You have made changes. Any unsaved changes will be lost.
          </p>
        </div>

        <div>
          <form #editForm="ngForm" (ngSubmit)="updateUser()" class="">
            <div class="flex flex-col gap-5">
              <!-- Bio -->
              <div>
                <hr class="my-4 border-t-2 border-gray-300" />
                <label class="text-xl font-medium text-gray-400"> Bio </label>
                <textarea
                  rows="2"
                  [(ngModel)]="user()!.bio"
                  name="bio"
                  class="w-full text-black text-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:p-2 cursor-pointer"
                ></textarea>
              </div>

              <!-- Username -->
              <div>
                <hr class="my-4 border-t-2 border-gray-300" />
                <label class="text-xl font-medium text-gray-400">
                  Username
                </label>
                <input
                  type="text"
                  [(ngModel)]="user()!.username"
                  name="username"
                  class="w-full text-black text-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:p-2 cursor-pointer"
                />
              </div>

              <!-- Email -->
              <div class="">
                <hr class="my-4 border-t-2 border-gray-300" />
                <label class="text-xl font-medium text-gray-400">Email</label>
                <input
                  type="email"
                  [value]="user()!.email"
                  readonly
                  tabindex="-1"
                  class="w-full text-gray-500 text-lg bg-gray-100 cursor-not-allowed border border-gray-300 rounded px-3 py-2"
                />
              </div>

              <!-- Location -->
              <div>
                <hr class="my-4 border-t-2 border-gray-300" />
                <label class="text-xl font-medium text-gray-400">
                  Location
                </label>
                <input
                  type="text"
                  [(ngModel)]="user()!.country"
                  name="country"
                  class="w-full text-black text-lg focus:outline-none focus:ring-2 focus:ring-gray-300 focus:p-2 cursor-pointer"
                />
              </div>

              <!-- Save button -->
              <div class="flex justify-center items-center">
                <button
                  class="group mt-2 px-4 py-2 border rounded-full text-base font-medium flex items-center gap-3  text-white transition"
                  [ngClass]="
                    editForm.dirty ? 'hover:bg-teal-500 bg-teal-400' : 'bg-gray-400 cursor-not-allowed'
                  "
                  type="submit"
                  [disabled]="!editForm.dirty"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    version="1.0"
                    class="size-5"
                    viewBox="0 0 512 512"
                    preserveAspectRatio="xMidYMid meet"
                    fill="currentColor"
                  >
                    <g
                      transform="translate(0 512) scale(0.1 -0.1)"
                      fill="currentColor"
                      stroke="none"
                    >
                      <path
                        d="M521 4944 c-169 -45 -301 -180 -346 -351 -23 -86 -23 -3980 0 -4066 45 -173 178 -307 350 -352 43 -11 111 -15 247 -15 l188 0 0 748 c0 639 2 756 15 807 45 172 179 305 352 350 87 23 2380 22 2468 0 172 -45 305 -179 350 -352 13 -48 15 -174 15 -805 l0 -748 188 0 c136 0 204 4 247 15 172 45 305 179 350 352 22 83 23 3326 1 3376 -18 41 -1012 1033 -1049 1047 -16 5 -106 10 -202 10 l-174 0 -3 -682 -3 -683 -27 -51 c-40 -76 -70 -107 -140 -145 l-63 -34 -725 0 -725 0 -63 34 c-69 37 -109 79 -144 151 l-23 45 -3 683 -3 682 -512 -1 c-414 0 -522 -3 -566 -15z"
                      />
                      <path
                        d="M1920 4320 l0 -640 640 0 640 0 0 640 0 640 -640 0 -640 0 0 -640z"
                      />
                      <path
                        d="M1375 1746 c-37 -16 -70 -52 -84 -89 -8 -19 -11 -267 -11 -763 l0 -734 1280 0 1280 0 -2 749 c-3 739 -3 750 -24 777 -11 15 -33 37 -48 48 -27 21 -33 21 -1194 23 -957 2 -1172 0 -1197 -11z"
                      />
                    </g>
                  </svg>
                  <span>Зберегти зміни</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  }

  <!-- News view bar -->
  <div
    class="grow-0 shrink-0 basis-[320px] flex flex-col border-x-2 border-gray-300 h-full"
  >
    <span class="font-medium text-lg px-4 py-2">Останні новини</span>

    <div
      class="relative w-full h-[710px] border-b-2 border-gray-300 overflow-hidden"
    >
      <app-news class="absolute -top-[56px] left-0"></app-news>
    </div>
  </div>
</div>
