<div *ngIf="hub() as hub">
  <!-- Background Section -->
  <div
    class="relative w-full h-96 bg-cover bg-center flex items-end"
    [style.backgroundImage]="
      'url(' + (hub.backgroundPhotoUrl || '/assets/images/hero-back.jpg') + ')'
    "
  >
    <!-- Dark overlay for readability -->
    <div class="absolute inset-0 bg-black opacity-50"></div>

    <!-- Hub Info -->
    <div class="relative z-10 w-full">
      <div class="max-w-3xl mx-auto px-6 py-8 flex justify-between items-start">
        <!-- Left: Hub Image and Details -->
        <div class="flex items-center gap-4">
          <img
            [src]="hub.mainPhotoUrl || '/assets/images/1.jpg'"
            alt="Hub Logo"
            class="size-24 rounded-2xl border-2 border-white shadow-lg"
          />
          <div class="pt-2">
            <h1 class="text-3xl font-bold text-white">{{ hub.name }}</h1>
            <p class="text-white mt-1">{{ hub.description }}</p>
          </div>
        </div>

        <!-- Right: Follow Button (Aligned with Description) -->
        <button
          class="bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 transition self-end"
        >
          Follow Hub
        </button>
      </div>
    </div>
  </div>

  <!-- Top Posts Section -->
  <div class="px-6 max-w-3xl mx-auto mt-4">
    <!-- Tab Buttons -->
    <div class="border-b border-gray-300 flex space-x-4">
      <button
        (click)="selectTab('about')"
        [ngClass]="{
          'border-b-2 border-green-600 text-green-600 font-medium':
            selectedTab === 'about',
          'text-gray-600 hover:text-green-600': selectedTab !== 'about'
        }"
        class="px-4 py-2 transition duration-150"
      >
        About
      </button>

      <button
        (click)="selectTab('posts')"
        [ngClass]="{
          'border-b-2 border-green-600 text-green-600 font-medium':
            selectedTab === 'posts',
          'text-gray-600 hover:text-green-600': selectedTab !== 'posts'
        }"
        class="px-4 py-2 transition duration-150"
      >
        Posts
      </button>

      @if(isAdmin) {
      <button
        (click)="selectTab('requests')"
        [ngClass]="{
          'border-b-2 border-green-600 text-green-600 font-medium':
            selectedTab === 'requests',
          'text-gray-600 hover:text-green-600': selectedTab !== 'requests'
        }"
        class="px-4 py-2 transition duration-150"
      >
        Requests
      </button>

      <button
        (click)="selectTab('edit')"
        [ngClass]="{
          'border-b-2 border-green-600 text-green-600 font-medium':
            selectedTab === 'edit',
          'text-gray-600 hover:text-green-600': selectedTab !== 'edit'
        }"
        class="px-4 py-2 transition duration-150"
      >
        Edit Hub
      </button>

      }
    </div>

    @if (selectedTab === 'about') {
    <app-hub-people
      [hubId]="hub!.id"
      [currentUser]="currentUser"
    ></app-hub-people>
    } @else if (selectedTab === 'posts') {
    <app-hub-posts
      [hubId]="hub!.id"
      [userCanWritePost]="userCanWritePost"
    ></app-hub-posts>
    } @else if (selectedTab === 'edit') {
    <app-hub-edit [hub]="hub"></app-hub-edit>
    }
  </div>
  @if (selectedTab === 'requests') {
  <app-hub-join-request [hubId]="hub.id"></app-hub-join-request>
  }
</div>
