<div class="flex">
  <div class="flex w-full p-4 items-start gap-4">
    <!-- Sidebar -->
    <aside class="w-[10rem] pt-2">
      <div class="mb-4">
        <h2 class="text-lg font-semibold px-3 mb-1">Filters</h2>
        <hr class="border-t border-gray-500" />
      </div>
      <nav class="space-y-2 px-3">
        <button
          class="block w-full text-left px-3 py-2 rounded"
          [ngClass]="{
            'bg-teal-400 text-white font-semibold': selectedFilter() === 'all',
            'hover:bg-gray-200': selectedFilter() !== 'all'
          }"
          (click)="onFilterChange('all')"
        >
          All Messages
        </button>
        <button
          class="block w-full text-left px-3 py-2 rounded"
          [ngClass]="{
            'bg-teal-400 text-white font-semibold':
              selectedFilter() === 'likes',
            'hover:bg-gray-200': selectedFilter() !== 'likes'
          }"
          (click)="onFilterChange('likes')"
        >
          Likes
        </button>
        <button
          class="block w-full text-left px-3 py-2 rounded"
          [ngClass]="{
            'bg-teal-400 text-white font-semibold':
              selectedFilter() === 'requests',
            'hover:bg-gray-200': selectedFilter() !== 'requests'
          }"
          (click)="onFilterChange('requests')"
        >
          Requests
        </button>
        <button
          class="block w-full text-left px-3 py-2 rounded"
          [ngClass]="{
            'bg-teal-400 text-white font-semibold':
              selectedFilter() === 'followings',
            'hover:bg-gray-200': selectedFilter() !== 'followings'
          }"
          (click)="onFilterChange('followings')"
        >
          Followings
        </button>
      </nav>
    </aside>

    <!-- Main content -->
    <main class="pt-2 flex-1">
      <div class="mb-4">
        <h1 class="text-lg font-semibold">Notifications</h1>
        <hr class="border-t border-gray-500 mt-1" />
      </div>

      <div *ngIf="currentUser; else noUser" class="space-y-4">
        <ng-container *ngIf="allNotifications()?.length; else noNotifications">
          @for (notification of allNotifications(); track $index) {
          <app-notification-card
            [notification]="notification"
            (deleteNotification)="onDeleteNotification($event)"
            (markAsRead)="onMarkAsRead($event)"
          ></app-notification-card>
          }
        </ng-container>

        <ng-template #noNotifications>
          <div class="flex justify-center items-center">
            <div class="p-8 text-center">
              <p class="text-gray-600 text-lg font-semibold">
                🔔 You have no notifications 🔔
              </p>
            </div>
          </div>
        </ng-template>
      </div>

      <ng-template #noUser>
        <div class="text-center py-10 px-6">
          <h2 class="text-lg font-semibold mb-2">You are not logged in</h2>
          <p class="text-gray-600 text-sm">
            Please log in to view your notifications.
          </p>
        </div>
      </ng-template>
    </main>
  </div>

  <!-- News view bar -->
  <div
    class="grow-0 shrink-0 basis-[320px] flex flex-col border-x-2 border-gray-300 h-full"
  >
    <span class="font-medium text-lg px-4 py-2">Останні новини</span>

    <div
      class="relative w-full h-[710px] border-b-2 border-gray-300 overflow-hidden"
    >
      <app-news class="absolute -top-[56px] left-0"></app-news>
    </div>
  </div>
</div>
