@if (postId) {
<div class="flex justify-center flex-1 mt-4 mb-2">
  <!-- Sidebar -->
  <app-side-bar class="w-[9rem] shrink-0 sticky"></app-side-bar>

  <!-- Content container -->
  <div class="w-[38%] ml-5 px-2">
    <div class="flex flex-col items-center w-full">
      <app-post-view
        class="w-full"
        [postId]="postId"
        [commentCount]="commentCount"
      ></app-post-view>
      <app-comment-list
        class="w-full"
        [postId]="postId"
        (commentsUpdated)="updateCommentCount()"
      ></app-comment-list>
    </div>
  </div>

  <!-- Charts view bar -->
  <app-charts-view class="w-[25rem]"></app-charts-view>
</div>
}
