<div class="p-4 bg-[#ffffff] rounded-xl shadow-lg">
  <div class="flex flex-row">
    @if(currentUser())
    {
    <img
      [src]="
        currentUser()?.user?.profilePictureUrl || '/assets/images/Sample_User_Icon.png'
      "
      alt="User Avatar"
      class="w-10 h-10 rounded-full mr-3 shadow-sm"
    />
    }
    <div
      class="w-full p-1 pl-2 text-gray-600 bg-gray-100 rounded-full border border-gray-300 cursor-pointer flex items-center"
      (click)="openModal()"
    >
      What do you want to share?
    </div>
  </div>

  <div class="flex flex-row justify-center items-center">
    <div class="text-gray-200">|</div>
    <button
      class="mt-2 w-1/4 hover:bg-gray-100 py-1 rounded-full flex items-center justify-center gap-2"
      (click)="openModal()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="w-5 h-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M16.862 3.487a2.125 2.125 0 113.005 3.005L7.5 18.86 3 20.25l1.39-4.5L16.862 3.487z"
        />
      </svg>
      Post
    </button>
    <div class="text-gray-200">|</div>
  </div>
</div>

<!-- Modal window -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center"
  (mousedown)="onMouseDown($event)"
  (mouseup)="onMouseUp($event)"
>
  <app-post-editor
    class="w-[45rem]"
    (close)="closeModal()"
    [currentUser]="currentUser()"
    (contentValue)="handleContentChange($event[0], $event[1])"
  ></app-post-editor>
</div>
