@if(this.post()) {
<div *ngIf="post()" class="px-4 pt-4 bg-white w-full rounded-t-lg">
  <!-- post() author and date -->
  <div class="flex items-center mb-6">
    <img
      [src]="post()!.profilePictureUrl || '/assets/images/Sample_User_Icon.png'"
      alt="Author's Profile Picture"
      class="size-11 object-cover rounded-full mr-4"
    />
    <div>
      <h4 class="text-xl font-semibold text-gray-800">{{ post()!.userName }}</h4>
      <p class="text-sm text-gray-500">
        {{ post()!.createdAt | timeAgo }}
      </p>
    </div>
  </div>

  <!-- post() categories -->
  <div class="mb-6">
    <p class="text-gray-600 text-sm">
      {{ post()!.categoryNames.join(", ") }}
    </p>
  </div>

  <div class="mb-6">
    <!-- post() content -->
    <div class="text-gray-800 text-lg mb-3" [innerHTML]="post()!.content"></div>
    <!-- Loop through images -->
    <div *ngIf="post()!.images && post()!.images!.length > 0">
      <div *ngFor="let image of post()!.images">
        <img [src]="image" alt="post() Image" class="w-full" />
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between text-gray-600 text-sm">
    <!-- Like button -->
    <button
      class="flex items-center text-sm text-gray-600 bg-transparent border-none cursor-pointer"
      [ngClass]="
        isLiked() ? 'text-green-600' : 'text-gray-600 hover:text-green-600'
      "
      (click)="onToggleLike()"
    >
      Likes {{ post()!.likesCount }}
    </button>
    <!-- Comment button -->
    <button
      class="flex items-center text-sm text-gray-600 bg-transparent border-none cursor-pointer"
    >
      Comments {{ post()!.commentCount }}
    </button>
  </div>
</div>
}
