<div class="relative">
  @if(!isReply) {
  <form
    (ngSubmit)="onSubmit()"
    class="flex flex-row justify-between gap-3 p-2 px-3 bg-white"
  >
    @if(currentUser()){
    <img
      [src]="
        currentUser()?.profilePictureUrl ||
        '/assets/images/Sample_User_Icon.png'
      "
      alt="U"
      class="size-11 object-cover rounded-full border border-gray-300 shadow-sm"
    />
    }

    <input
      type="text"
      placeholder="Add a comment..."
      class="flex-1 px-4 text-black bg-[#e6e6e6] rounded-full focus:outline-none"
      name="content"
      [(ngModel)]="content"
      required
    />

    <button
      type="submit"
      [disabled]="!content.trim()"
      class="flex items-center px-2 rounded-full text-white bg-green-500 hover:bg-green-600 transition"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-4 mr-2"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"
        ></path>
      </svg>
      Post Comment
    </button>
  </form>
  } @if(isReplyFormOpen) {
  <form
    (ngSubmit)="onSubmit()"
    class="flex flex-row justify-between gap-3 pr-2 mb-2"
  >
    <input
      type="text"
      placeholder="Add a reply..."
      class="flex-1 px-4 py-2 text-black bg-[#e6e6e6] rounded-full focus:outline-none"
      name="content"
      [(ngModel)]="content"
      required
    />

    <button
      type="submit"
      [disabled]="!content.trim()"
      class="flex items-center px-3 rounded-full text-white transition bg-green-500 hover:bg-green-600 disabled:bg-green-500 disabled:opacity-50"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-4 mr-2"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 13l4 4L19 7"
        ></path>
      </svg>
      Reply
    </button>
  </form>
  }
</div>
