<div class="flex justify-center items-center">
  <div class="w-full max-w-3xl p-4">
    <h2 class="text-xl font-bold mb-4">Люди</h2>

    <div class="bg-teal-500 text-center p-2 rounded mb-4" (click)="openModal()">
      <div class="text-white">Хочете стати дописувачем? Подайте заявку тут</div>
    </div>

    <div
      *ngFor="let group of groupedMembers; let i = index"
      class="mb-4 bg-[#f0f0f0] p-4"
    >
      <h3 class="text-lg font-semibold">{{ group.role }}</h3>
      <hr class="my-4 border-gray-400" />

      <div
        *ngFor="let member of group.members; let j = index"
        class="mt-2 rounded-lg flex items-center justify-between"
      >
        <div class="flex items-center">
          <img
            [src]="
              member.profilePictureUrl || '/assets/images/Sample_User_Icon.png'
            "
            alt="Avatar"
            class="w-12 h-12 rounded-full mr-4"
          />
          <div>
            <span class="font-semibold">{{ member.username }}</span>
            <span class="text-gray-400"
              >, {{ member.bio ? member.bio : member.description }}</span
            >
          </div>
        </div>

        <!-- Іконка видалення для адміністраторів (крім адміністратора) -->
        <button
          *ngIf="member.role !== 'Admin'"
          (click)="confirmDelete(member)"
          class="text-red-600 hover:text-red-800 p-1"
        >
          🗑️
        </button>
      </div>
    </div>
  </div>

  <!-- Модальне вікно підтвердження -->
  <div
    *ngIf="showConfirmModal"
    class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50"
  >
    <div class="bg-white rounded-lg p-6 max-w-sm">
      <h3 class="text-xl font-semibold mb-4">Confirm Deletion</h3>
      <p>Are you sure you want to delete {{ userToDelete?.username }}?</p>
      <div class="flex justify-end gap-2 mt-4">
        <button
          (click)="deleteUser()"
          class="bg-red-600 text-white py-1 px-3 rounded"
        >
          Delete
        </button>
        <button
          (click)="closeConfirmModal()"
          class="bg-gray-300 text-gray-800 py-1 px-3 rounded"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-20"
  (click)="closeModal()"
>
  <div
    class="bg-white rounded-md p-6 w-[32rem]"
    (click)="stopPropagation($event)"
  >
    <h3 class="text-xl font-bold mb-4">Прохання стати дописувачем</h3>

    <!-- Trustworthiness Text Area -->
    <p class="mb-2">Чому люди повинні вам довіряти?</p>
    <textarea
      class="w-full h-20 p-2 border rounded mb-1"
      placeholder="Надайте коротку причину (близько 20 слів)..."
      [(ngModel)]="trustReason"
      (input)="updateWordCount('trust')"
      maxlength="110"
    ></textarea>
    <div class="text-sm text-gray-500 mb-4">{{ trustWordCount }} слова</div>

    <!-- Contribution Reason Text Area -->
    <p class="mb-2">Чому ви хочете стати учасником?</p>
    <textarea
      class="w-full h-32 p-2 border rounded mb-1"
      placeholder="Напишіть щось (близько 500 слів)..."
      [(ngModel)]="memberReason"
      (input)="updateWordCount('contribution')"
      maxlength="2500"
    ></textarea>
    <div class="text-sm text-gray-500 mb-4">
      {{ contributionWordCount }} слова
    </div>

    <!-- Buttons -->
    <div class="flex justify-end">
      <button
        class="mr-2 px-4 py-2 rounded text-gray-600"
        (click)="closeModal()"
      >
        Скасувати
      </button>
      <button
        class="px-4 py-2 bg-teal-600 text-white rounded"
        (click)="submitRequest()"
        [disabled]="trustWordCount > 30 || contributionWordCount > 500"
      >
        Надіслати запит
      </button>
    </div>
  </div>
</div>
