<div class="sticky top-[106px] flex flex-row">
  <div class="grow">
    <div
      class="h-[44px] bg-gray-100 flex items-center justify-center px-4 shadow-sm text-black font-medium"
    >
      <span class="text-xl">
        {{ username }}
      </span>
    </div>

    <div class="pb-2 flex-1 border-x border-gray-200">
      <app-message-chat
        [username]="username"
        (loadMoreMessages)="onLoadMoreMessages()"
        (messageSend)="onSendMessage()"
      ></app-message-chat>
    </div>
  </div>
  <div
    class="bg-gray-100 grow-0 shrink-0 basis-[344px] h-[90vh] self-start border-r border-l-2 border-l-gray-300"
  >
    <div
      class="relative h-[44px] w-full flex flex-row justify-center items-center"
    >
      <span class="text-black text-xl mt-0.5">Переписники</span>
    </div>
    <app-message-chat-list
      [isThereNewMessages]="isThereNewMessages()"
      [activeUsername]="username"
    ></app-message-chat-list>
  </div>
</div>
