<!-- Контейнер коментаря -->
<div
  class="comment relative"
  [style.marginLeft.px]="level * 20"
  [ngClass]="{ 'pt-2': level === 0 }"
>
  <!-- Контейнер автора -->
  <div class="flex items-start gap-3">
    <!-- Фото автора -->
    <img
      [src]="comment.profilePictureUrl || '/assets/images/Sample_User_Icon.png'"
      alt="{{ comment.authorName }}"
      [ngClass]="{ 'size-11': level === 0, 'size-9': level > 0 }"
      class="object-cover rounded-full"
    />

    <!-- Текстовий блок (автор, дата, коментар) -->
    <div class="flex-1">
      <div class="flex items-center gap-4">
        <h4 class="text-[14px] font-semibold text-gray-800">
          {{ comment.authorName }}
        </h4>
        <p class="text-[14px] text-gray-500">
          {{ comment.createdAt | timeAgo }}
        </p>
      </div>

      <!-- Текст коментаря -->
      <p class="text-gray-700 text-[14px] leading-relaxed">{{ comment.content }}</p>

      <!-- Кнопка "Reply" -->
      <button
        *ngIf="!isReplying"
        (click)="replyToComment()"
        class="text-[14px] hover:bg-[#e6e6e6] px-4 py-1 rounded-full transition"
      >
        Reply
      </button>

      <!-- Форма для відповіді -->
      <div *ngIf="isReplying" class="mt-2">
        <app-comment-form
          [postId]="postId"
          [parentId]="comment.id"
          [isReply]="isReplying"
          (addComment)="submitReply($event)"
          (isRepling)="checkIfRepling($event)"
        ></app-comment-form>
      </div>
    </div>
  </div>

  <!-- Меню -->
  <button (click)="onToggleMenu()" class="absolute top-2 right-2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 12h12M6 6h12M6 18h12"
      />
    </svg>
  </button>

  <!-- Випадаюче меню -->
  <div
    *ngIf="selectedCommentId === comment.id"
    class="absolute right-2 top-10 bg-white border rounded shadow-lg z-10"
  >
    <button
      *ngIf="isAuthor()"
      (click)="onDelete()"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
    >
      Delete
    </button>
    <button
      *ngIf="!isAuthor()"
      class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
    >
      Add
    </button>
  </div>

  <!-- Відображення дочірніх коментарів -->
  <ul *ngIf="comment?.children?.length" class="replies mt-3 space-y-3 list-none">
    <li *ngFor="let child of comment.children">
      <app-comment
        [postId]="postId"
        [comment]="child"
        [level]="level + 1"
        [selectedCommentId]="selectedCommentId"
        (deleteComment)="deleteComment.emit($event)"
        (addReply)="submitReply($event)"
        (toggleMenu)="toggleMenu.emit($event)"
      ></app-comment>
    </li>
  </ul>
</div>
