<div class="p-6 text-gray-900 flex justify-center min-h-screen">
  <div class="">
    <!-- Header -->
    <div class="flex justify-start items-start mb-6 bg-[#f0f0f0] border p-4">
      <div>
        <h2 class="text-2xl font-bold">Welcome to Hubs!</h2>
        <p class="text-sm text-gray-700">
          Follow Hubs to explore your interests on FinHub.
        </p>
        <div class="flex space-x-3 mt-3">
          <button
            class="px-4 py-2 border border-green-600 text-green-700 rounded-full transition duration-300 ease-in-out hover:bg-green-600 hover:text-white"
            (click)="openModal()"
          >
            + Create a Hub
          </button>
          @if(hubs().length > 0) {
          <button
            class="px-4 py-2 border border-green-600 text-green-700 rounded-full transition duration-300 ease-in-out hover:bg-green-600 hover:text-white"
          >
            + Discover Hub
          </button>
          }
        </div>
      </div>
    </div>
    @if(hubs().length > 0) {
    <!-- Discover Hubs -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Discover Hubs</h3>
      <div class="flex flex-wrap gap-4 justify-between max-w-[880px]">
        <ng-container *ngFor="let hub of hubs()">
          <div
            class="bg-[#f0f0f0] rounded-lg overflow-hidden shadow hover:shadow-lg transition w-52"
            [routerLink]="['/hubs', hub.id]"
            [queryParams]="{ tab: 'posts' }"
          >
            <div class="relative">
              <img
                [src]="hub.backgroundPhotoUrl || '/assets/images/hero-back.jpg'"
                alt="{{ hub.name }}"
                class="w-full h-20 object-cover"
              />
              <div class="absolute inset-x-0 top-[53px] flex justify-center">
                <img
                  [src]="hub.mainPhotoUrl || '/assets/images/1.jpg'"
                  alt="{{ hub.name }}"
                  class="w-12 h-12 rounded-lg border-2 border-black"
                />
              </div>
            </div>
            <div
              class="p-8 pb-16 px-8 flex flex-col justify-center items-center text-center"
            >
              <div>
                <h4 class="font-bold text-gray-900 text-sm mb-1">
                  {{ hub.name }}
                </h4>
              </div>
              <div class="text-xs text-gray-600 line-clamp-3">
                {{ hub.description }}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    } @else {
    <div class="flex flex-col items-center pt-32">
      <h1>🚧 No Hubs Yet 🚧</h1>
      <p>Be the first one to create!</p>
    </div>

    }
  </div>
</div>

<!-- Modal -->
<div
  *ngIf="isModalOpen"
  class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center"
  (click)="closeModal()"
>
  <div
    class="bg-white p-6 rounded-xl shadow-lg relative max-w-md w-full"
    (click)="stopPropagation($event)"
    (keydown.enter)="submitHub()"
  >
    <h3 class="text-xl font-semibold mb-4">Create a Hub</h3>

    <!-- Name Field -->
    <label class="block mb-2 text-gray-700">Name</label>
    <input
      [(ngModel)]="hubName"
      (input)="validateForm()"
      class="w-full p-2 border rounded focus:outline-none"
      [ngClass]="{
        'border-gray-300': hubName.length === 0,
        'border-green-500 focus:ring-green-500': hubName.length >= 3,
        'border-red-500 focus:ring-red-500':
          hubName.length > 0 && hubName.length < 3
      }"
      placeholder="Enter hub name"
    />
    <p *ngIf="errors.name && isSubmitted" class="text-red-500 text-xs mt-1">
      {{ errors.name }}
    </p>

    <!-- Description Field -->
    <label class="block mt-4 mb-2 text-gray-700">Brief description</label>
    <textarea
      [(ngModel)]="hubDescription"
      (input)="validateForm()"
      class="w-full p-2 border rounded focus:outline-none"
      [ngClass]="{
        'border-gray-300': hubDescription.length === 0,
        'border-green-500 focus:ring-green-500': hubDescription.length >= 5,
        'border-red-500 focus:ring-red-500':
          hubDescription.length > 0 && hubDescription.length < 5
      }"
      placeholder="Enter a brief description"
    ></textarea>
    <p
      *ngIf="errors.description && isSubmitted"
      class="text-red-500 text-xs mt-1"
    >
      {{ errors.description }}
    </p>

    <!-- Main Photo Field -->
    <label class="block mt-4 mb-2 text-gray-700">Main Photo</label>
    <input
      type="file"
      (change)="onMainPhotoChange($event)"
      class="w-full p-2 border rounded focus:outline-none"
      accept="image/*"
    />

    <!-- Background Photo Field -->
    <label class="block mt-4 mb-2 text-gray-700">Background Photo</label>
    <input
      type="file"
      (change)="onBackgroundPhotoChange($event)"
      class="w-full p-2 border rounded focus:outline-none"
      accept="image/*"
    />

    <!-- Buttons -->
    <div class="mt-4 flex justify-end space-x-2">
      <button
        (click)="closeModal()"
        class="px-4 py-2 text-gray-600 border border-gray-400 rounded hover:bg-gray-200"
      >
        Cancel
      </button>
      <button
        (click)="submitHub()"
        class="px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700"
      >
        Create
      </button>
    </div>
  </div>
</div>
