<!--Hero Section-->
<section
  class="relative w-[100%] h-[50vh] bg-cover bg-center"
  style="background-image: url('/assets/images/hero-back.jpg')"
>
<!--Overlay-->
  <div
    class="absolute top-0 left-0 w-full h-full bg-black opacity-20"
  ></div>
<!--Content-->
  <div
    class="relative top-[10%] z-10 flex flex-col justify-start items-start mx-auto sm:ml-4 px-10 py-10 bg-white w-[90%] sm:w-[360px] md:w-[400px] lg:w-[420px] rounded-sm"
  >
    <h1 class="lg:text-xl font-bold mb-4">
      Welcome to FinHub
    </h1>
    <p class="lg:text-md mb-8">
      Your trusted finance partner for better solutions.
    </p>
<!--Content button-->
    <button
      class="px-5 py-3 lg:text-sm font-semibold bg-green-600 hover:bg-green-700 rounded-lg"
    >
      Get Started
    </button>
  </div>
</section>
