<div class="flex flex-col h-full border-x-2 border-gray-300">
  <div class="sticky top-0 flex flex-row w-full bg-white z-50">
    <a
      class="px-4 pt-4 py-3.5 flex flex-row gap-2 items-end"
      routerLink="/home"
    >
      <img src="logotype-rework-removebg.png" alt="logo FinHub" class="w-20" />
      <div class="mb-2 font-bold text-4xl font-montserrat italic">
        <span class="text-black">Fin</span>
        <span class="text-black">Hub</span>
      </div>
    </a>
  </div>

  <!--WHEN USER IS NOT LOGGED-->
  @if(!user()) {
  <!--AUTHENTICATION-->
  <div class="mb-[10px] p-2">
    <h2 class="font-medium text-xl pb-2">Вперше на FinHub?</h2>
    <span
      >Отримуйте доступ до розмов у реальному часі, настроїв інвесторів,
      прогнозів цін та персоналізованих списків спостереження.</span
    >
  </div>
  <!--ACCOUNT BUTTONS-->
  <div class="flex flex-col gap-[10px] items-center p-2">
    <button
      class="px-8 py-2 rounded-full border-2 border-gray-300 w-full text-lg font-bold transition-all hover:bg-gray-100"
      [routerLink]="['/auth']"
      [queryParams]="{ tab: 'login' }"
    >
      Увійти
    </button>
    <button
      class="px-8 py-2 rounded-full border-2 border-gray-300 w-full text-lg font-bold transition-all hover:bg-gray-100"
      [routerLink]="['/auth']"
      [queryParams]="{ tab: 'signup' }"
    >
      Зареєструватися
    </button>
  </div>
  } @if(user()) {
  <div
    class="px-4 pb-4 flex flex-col border-b-2 border-gray-300 bg-white gap-[2px] font-medium"
  >
    <!--PROFILE-->
    <div class="relative w-min">
      <!--Profile dropdown-->
      <div
        #dropdown
        *ngIf="showProfileDropDown()"
        @fadeInOut
        class="cursor-default absolute w-[160%] flex flex-col top-[42px] left-0 bg-white border border-gray-300 rounded-md shadow-lg z-20 overflow-hidden"
      >
        <span
          class="capitalize py-1.5 cursor-pointer pl-3 pr-4 transition-colors duration-75 hover:bg-gray-100"
          (click)="navigateToUserProfile(user()!.username)"
          >переглянути профіль</span
        >
        <span
          class="capitalize py-1.5 cursor-pointer pl-3 pr-6 transition-colors duration-75 hover:bg-gray-100"
          (click)="navigateToEditUserProfile()"
          >редагувати профіль</span
        >
        <span
          class="capitalize text-red-400 py-1.5 cursor-pointer pl-3 pr-6 transition-colors duration-75 hover:bg-red-100"
          (click)="logout()"
          >вийти</span
        >
      </div>
      <div
        (click)="profileClicked()"
        class="flex flex-row gap-2 items-center hover:bg-gray-100 py-1.5 pl-[40px] pr-3.5 cursor-pointer rounded-full w-min"
      >
        @if(!user()){
        <!--PROFILE BIG_COVER-->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.0"
          viewBox="0 0 512.000000 512.000000"
          preserveAspectRatio="xMidYMid meet"
          class="size-[35px] text-teal-500 absolute top-0 left-0"
        >
          <g
            transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
            fill="currentColor"
            stroke="none"
          >
            <path
              d="M2380 5114 c-19 -2 -78 -9 -130 -15 -430 -48 -872 -227 -1238 -501 -119 -89 -339 -302 -437 -423 -237 -292 -430 -685 -509 -1040 -49 -218 -60 -325 -60 -575 0 -250 11 -357 60 -575 79 -355 272 -749 509 -1040 92 -114 274 -294 387 -384 287 -229 675 -417 1023 -495 209 -47 334 -60 575 -60 425 0 751 75 1125 259 417 204 750 496 1010 885 153 228 300 569 359 835 49 218 60 325 60 575 0 250 -11 357 -60 575 -79 355 -272 749 -509 1040 -92 114 -274 294 -387 384 -348 278 -777 465 -1220 532 -126 19 -471 33 -558 23z m355 -779 c269 -57 492 -241 603 -497 46 -108 64 -203 64 -338 -1 -236 -88 -437 -261 -602 -92 -89 -191 -150 -304 -189 -515 -177 -1061 171 -1117 713 -44 427 242 822 661 913 85 18 267 18 354 0z m530 -2113 c259 -72 454 -235 564 -474 100 -215 105 -423 14 -556 -75 -109 -342 -287 -578 -385 -422 -174 -955 -178 -1385 -10 -235 92 -540 291 -607 396 -78 123 -82 284 -14 484 101 294 371 515 686 562 33 5 326 8 650 7 576 -2 592 -2 670 -24z"
            />
          </g>
        </svg>
        } @else {
        <img
          [src]="this.authService.currentUser()?.user?.profilePictureUrl"
          alt="User Icon"
          class="size-[35px] rounded-full text-teal-500 absolute top-0 left-0 border border-gray-400"
        />
        }
        <span>Профіль</span>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fas"
          data-icon="chevron-down"
          class="size-3"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"
          ></path>
        </svg>
      </div>
    </div>
    <!--Notifications-->
    <div class="relative cursor-pointer" routerLink="/notifications">
      <div
        class="flex flex-row gap-4 items-center hover:bg-gray-100 py-1.5 pl-2 pr-3.5 cursor-pointer rounded-full w-min"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fal"
          data-icon="bell"
          class="size-4"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M208 16c0-8.8 7.2-16 16-16s16 7.2 16 16V32.8c80.9 8 144 76.2 144 159.2v29.1c0 43.7 17.4 85.6 48.3 116.6l2.8 2.8c8.3 8.3 13 19.6 13 31.3c0 24.5-19.8 44.3-44.3 44.3H44.3C19.8 416 0 396.2 0 371.7c0-11.7 4.7-23 13-31.3l2.8-2.8C46.6 306.7 64 264.8 64 221.1V192c0-83 63.1-151.2 144-159.2V16zm16 48C153.3 64 96 121.3 96 192v29.1c0 52.2-20.7 102.3-57.7 139.2L35.6 363c-2.3 2.3-3.6 5.4-3.6 8.7c0 6.8 5.5 12.3 12.3 12.3H403.7c6.8 0 12.3-5.5 12.3-12.3c0-3.3-1.3-6.4-3.6-8.7l-2.8-2.8c-36.9-36.9-57.7-87-57.7-139.2V192c0-70.7-57.3-128-128-128zM193.8 458.7c4.4 12.4 16.3 21.3 30.2 21.3s25.8-8.9 30.2-21.3c2.9-8.3 12.1-12.7 20.4-9.8s12.7 12.1 9.8 20.4C275.6 494.2 251.9 512 224 512s-51.6-17.8-60.4-42.7c-2.9-8.3 1.4-17.5 9.8-20.4s17.5 1.4 20.4 9.8z"
          ></path>
        </svg>
        <span class="relative font-medium">
          Сповіщення
          <!-- Червоний кружечок, позиціонований абсолютно всередині спана -->
          <span
            *ngIf="notifyService.unreadCount() > 0"
            class="absolute -top-2 -right-6 bg-red-600 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center"
          >
            {{ notifyService.unreadCount() }}
          </span>
        </span>
      </div>
    </div>
    <!--Messages-->
    <div class="cursor-pointer" routerLink="/messages/chats">
      <div
        class="flex flex-row gap-4 items-center hover:bg-gray-100 py-1.5 pl-2 pr-3.5 rounded-full w-min"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fal"
          data-icon="envelope"
          class="size-4"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M64 96c-17.7 0-32 14.3-32 32v39.9L227.6 311.3c16.9 12.4 39.9 12.4 56.8 0L480 167.9V128c0-17.7-14.3-32-32-32H64zM32 207.6V384c0 17.7 14.3 32 32 32H448c17.7 0 32-14.3 32-32V207.6L303.3 337.1c-28.2 20.6-66.5 20.6-94.6 0L32 207.6zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
          ></path>
        </svg>
          <span class="relative font-medium">
          Повідомлення
          <span
            *ngIf="messageService.messages() > 0"
            class="absolute -top-2 -right-6 bg-red-600 text-white text-xs font-bold rounded-full w-5 h-5 flex items-center justify-center"
          >
            {{ messageService.messages() }}
          </span>
        </span>
      </div>
    </div>
    <!--Followings-->
    <div class="cursor-pointer" routerLink="/followings">
      <div
        class="flex flex-row gap-4 items-center hover:bg-gray-100 py-1.5 pl-2 pr-3.5 cursor-pointer rounded-full w-min"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          version="1.0"
          class="size-4"
          viewBox="0 0 512.000000 512.000000"
          preserveAspectRatio="xMidYMid meet"
        >
          <g
            transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
            fill="currentColor"
            stroke="none"
          >
            <path
              d="M2259 4900 c-304 -48 -562 -182 -777 -404 -183 -189 -300 -408 -357 -666 -24 -112 -30 -343 -11 -465 40 -263 150 -500 322 -697 60 -67 164 -165 210 -194 24 -17 24 -17 -114 -84 -728 -357 -1196 -1062 -1238 -1865 -8 -143 2 -190 52 -245 97 -108 273 -87 343 40 21 37 25 63 32 184 14 253 70 471 178 691 244 497 684 836 1241 957 93 20 133 22 345 22 212 0 252 -2 345 -22 196 -43 386 -118 589 -232 146 -82 321 18 321 183 0 61 -42 141 -93 176 -53 36 -242 130 -324 162 -35 13 -63 26 -63 29 0 3 31 32 70 64 228 190 392 473 451 780 22 114 27 331 9 442 -89 558 -498 997 -1050 1125 -97 23 -386 34 -481 19z m320 -425 c177 -17 387 -121 526 -260 248 -248 334 -608 225 -948 -63 -197 -220 -395 -398 -501 -336 -200 -758 -172 -1061 71 -172 137 -292 339 -332 556 -15 87 -13 269 5 355 36 169 116 321 235 445 146 153 309 242 506 277 107 18 144 19 294 5z"
            />
            <path
              d="M4518 1900 c-20 -11 -52 -39 -71 -62 -19 -24 -193 -281 -387 -573 -194 -291 -354 -532 -356 -534 -2 -2 -113 68 -246 157 -134 89 -256 166 -271 172 -67 24 -155 4 -210 -48 -88 -83 -90 -231 -5 -308 12 -12 178 -124 367 -250 l344 -229 77 0 c129 0 98 -37 608 727 271 407 451 686 455 707 11 55 8 94 -12 136 -22 47 -74 99 -114 114 -46 18 -137 13 -179 -9z"
            />
          </g>
        </svg>
        <span>Підписки</span>
      </div>
    </div>

    <!--Create Post-->
    <button
      class="group relative bg-teal-500 rounded-full mt-2 py-2 text-white flex flex-row justify-center items-center gap-2 overflow-hidden"
      (click)="createPostModal()"
    >
      <div
        class="transition-all group-hover:opacity-15 opacity-0 absolute top-0 left-0 w-full h-full bg-white z-10"
      ></div>
      <svg
        aria-hidden="true"
        focusable="false"
        data-prefix="far"
        data-icon="pen"
        class="size-3.5"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
      >
        <path
          fill="currentColor"
          d="M36.4 360.9L13.4 439 1 481.2C-1.5 489.7 .8 498.8 7 505s15.3 8.5 23.7 6.1L73 498.6l78.1-23c12.4-3.6 23.7-9.9 33.4-18.4c1.4-1.2 2.7-2.5 4-3.8L492.7 149.3c21.9-21.9 24.6-55.6 8.2-80.5c-2.3-3.5-5.1-6.9-8.2-10L453.3 19.3c-25-25-65.5-25-90.5 0L58.6 323.5c-10.4 10.4-18 23.3-22.2 37.4zm46 13.5c1.7-5.6 4.5-10.8 8.4-15.2c.6-.6 1.1-1.2 1.7-1.8L321 129 383 191 154.6 419.5c-4.7 4.7-10.6 8.2-17 10.1l-23.4 6.9L59.4 452.6l16.1-54.8 6.9-23.4z"
        ></path>
      </svg>
      <span>Створити пост</span>
    </button>

    @if(createPost) {
    <app-create-post
      class="bg-black bg-opacity-50"
      [currentUser]="this.authService.currentUser()"
      [openModalWindow]="openModalWindow"
      [isFromSidePannel]="true"
      (addPostModal)="addPostModal($event)"
    ></app-create-post>
    }
  </div>
  }

  <!--List-->
  <div class="relative flex flex-col bg-white">
    <span class="font-medium pt-4 pb-3 pl-4 z-20">Cписок спостережень</span>
    <div class="relative -top-[52px] z-10 overflow-hidden">
      <div class="relative top-[58px]">
        <app-charts-view></app-charts-view>
      </div>
    </div>

    <div
      class="h-[calc(52px+12px)] w-full flex flex-row absolute bottom-0 left-0 px-4 py-2"
    >
      <button
        class="px-4 py-2 h-min flex flex-row gap-2 justify-center items-center border-2 border-gray-300 rounded-full w-full transition-all hover:bg-gray-100"
      >
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fal"
          data-icon="wand-magic-sparkles"
          class="size-4"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 576 512"
        >
          <path
            fill="currentColor"
            d="M458.3 34.9c3.1-3.1 8.2-3.1 11.3 0l39.4 39.4c3.1 3.1 3.1 8.2 0 11.3L388.7 206.1l-50.7-50.7L458.3 34.9zM66.9 426.3L315.3 177.9l50.7 50.7L117.7 477.1c-3.1 3.1-8.2 3.1-11.3 0L66.9 437.7c-3.1-3.1-3.1-8.2 0-11.3zM435.7 12.3L44.3 403.7c-15.6 15.6-15.6 40.9 0 56.6l39.4 39.4c15.6 15.6 40.9 15.6 56.6 0L531.7 108.3c15.6-15.6 15.6-40.9 0-56.6L492.3 12.3c-15.6-15.6-40.9-15.6-56.6 0zM128 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v48H48c-8.8 0-16 7.2-16 16s7.2 16 16 16H96v48c0 8.8 7.2 16 16 16s16-7.2 16-16V160h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H128V80zM464 320c-8.8 0-16 7.2-16 16v48H400c-8.8 0-16 7.2-16 16s7.2 16 16 16h48v48c0 8.8 7.2 16 16 16s16-7.2 16-16V416h48c8.8 0 16-7.2 16-16s-7.2-16-16-16H480V336c0-8.8-7.2-16-16-16zM252.2 16c0-6.7-5.4-12.2-12.2-12.2s-12.2 5.4-12.2 12.2V35.8H208c-6.7 0-12.2 5.4-12.2 12.2s5.4 12.2 12.2 12.2h19.8V80c0 6.7 5.4 12.2 12.2 12.2s12.2-5.4 12.2-12.2V60.2H272c6.7 0 12.2-5.4 12.2-12.2s-5.4-12.2-12.2-12.2H252.2V16z"
          ></path>
        </svg>
        <span class="capitalize font-bold">налаштувати список</span>
      </button>
    </div>
    <!--Added height-->
    <div class="h-[12px] w-full"></div>
  </div>
</div>
