<app-comment-form
  [postId]="postId"
  (addComment)="addComment($event)"
></app-comment-form>

<div class="mt-8">
  <!-- Відображення кореневих коментарів -->
  <div *ngIf="comments() && comments().length > 0; else noComments">
    <ul class="space-y-4">
      <!-- Перебір кореневих (основних) коментарів -->
      <li
        *ngFor="let comment of getSortedComments()"
        class="p-4 bg-gray-100 rounded-md shadow-sm relative"
      >
        <!-- Передача кореневого коментаря в app-comment -->
        <app-comment
          [postId]="postId"
          [comment]="comment"
          [replies]="getReplies(comment.id)" 
          (deleteComment)="deleteComment($event)"
          (addReply)="addComment($event)"
        ></app-comment>
      </li>
    </ul>
  </div>

  <!-- Шаблон для відсутності коментарів -->
  <ng-template #noComments>
    <p class="text-gray-600">No comments yet. Be the first to comment!</p>
  </ng-template>
</div>
