<div class="w-full flex flex-col h-full">
  <div class="flex flex-row gap-4 mb-3 bg-[#f0f0f0] hover:bg-[#d9d9d9]  px-2 p-2 items-center">
    <div class="size-6 bg-white flex items-center justify-center">+</div>
    <div>Crete Hub</div>
  </div>
  <div
    *ngFor="let category of categories"
    class="flex items-center gap-4 mb-3 cursor-pointer break-words whitespace-normal hover:bg-[#f0f0f0] px-2 p-2"
  >
    <img [src]="'/assets/images/hubs.png'" alt="Hab Img" class="size-6" />
    <div>{{ category }}</div>
  </div>
</div>
