<div class="flex flex-row justify-center items-center gap-8 py-2">
  <a routerLink="/home">
    <img src="/assets/images/logo-finhub.png" alt="logo FinHub" class="w-32" />
  </a>

  <div class="flex flex-row gap-8">
    <button
      *ngFor="let item of menuItems"
      (click)="selectTab(item.key)"
      class="flex flex-col items-center"
    >
      <img
        [src]="
          '/assets/images/' +
          (selectedTab() === item.key ? item.chosenIcon : item.icon) +
          '.png'
        "
        [alt]="item.key + ' Icon'"
        class="size-7 mb-1"
      />
      <div
        *ngIf="selectedTab() === item.key"
        class="w-5 h-1 bg-green-600 rounded-full mt-1"
      ></div>
    </button>
  </div>

  <input
    type="text"
    placeholder="Пошук на FinHub..."
    class="w-1/5 px-4 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-600 focus:border-none"
  />

  <button
    *ngIf="!authService.currentUser()"
    class="px-4 py-2 text-sm font-medium text-white bg-green-600 rounded-md hover:bg-green-700 transition"
    routerLink="/signup"
    (click)="selectTab('login')"
  >
    Login
  </button>

  <div class="relative" *ngIf="authService.currentUser() as fullUser">
    <button (click)="toggleDropdown(); selectTab('login')">
      <img
        [src]="fullUser.user.profilePictureUrl"
        alt="User Icon"
        class="size-10 rounded-full"
      />
    </button>

    <div
      *ngIf="isDropdownOpen"
      class="absolute right-0 mt-2 bg-white border border-gray-200 rounded-lg shadow-lg w-48 z-50"
    >
      <a
        href="#"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
        >Edit Profile</a
      >
      <div class="border-t border-gray-200"></div>
      <a
        href="#"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
        (click)="logout()"
        >Logout</a
      >
    </div>
  </div>

  <button
    class="px-4 py-2 bg-green-600 text-white font-medium rounded-md hover:bg-green-700 transition"
  >
    Додати питання
  </button>
</div>
