<div class="flex justify-center h-full">
  <!-- Content container -->
  @if(true) {
  <div class="grow max-w-[50rem] mx-auto">
    <app-posts [currentUser]="curretnUser"></app-posts>
  </div>
  }

  <!-- News view bar -->
  <div
    class="grow-0 shrink-0 basis-[320px] flex flex-col border-x-2 border-gray-300 h-full"
  >
    <span class="font-medium text-lg px-4 py-2">Останні новини</span>

    <div
      class="relative w-full h-[710px] border-b-2 border-gray-300 overflow-hidden"
    >
      <app-news class="absolute -top-[56px] left-0"></app-news>
    </div>
  </div>
</div>
