<div class="min-h-screen bg-white flex">
  <!-- Шапка зверху -->
  <div
    class="w-[43%] ml-40 bg-teal-700 text-white flex items-start justify-center pt-52 p-10"
  >
    <div class="max-w-md">
      <h1 class="text-4xl font-bold mb-6 italic">FinHub</h1>
      <p class="text-5xl font-bold leading-tight">
        Ласкаво просимо до однієї з найбільших інвестиційних спільнот у світі.
      </p>
    </div>
  </div>

  <!-- Основний контент під шапкою -->
  <div class="flex-grow flex items-center justify-center p-10">
    <div class="w-full max-w-sm">
      <h1 class="text-4xl font-bold mb-6 text-center italic">FinHub</h1>

      @if(currentTab() === 'signup'){
      <app-signup
        [externalError]="errorMessage"
        (signupFormOutput)="OnSignup($event)"
      ></app-signup>
      } @else if(currentTab() === 'login'){
      <app-login
        [externalError]="errorMessage"
        (loginFormOutput)="OnLogin($event)"
      ></app-login>
      }
    </div>
  </div>
</div>
