<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>
<div class="flex flex-row container mx-auto">
  <app-apart-aside class="grow-0 shrink-0 basis-[300px]"></app-apart-aside>
  <div class="flex flex-col w-full">
    <div class="sticky top-0 z-50">
      <app-header></app-header>
      <div class="overflow-hidden border-r-2 border-b-2 border-gray-300">
        <div class="w-[110%]">
          <app-ticker-tape class="w-full"></app-ticker-tape>
        </div>
      </div>
    </div>
    <div #scrollContainer class="flex-1 relative">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
