<section class="container mx-auto">
  <div class="flex justify-center items-center min-h-screen bg-amber-300">
    <form #form="ngForm" (ngSubmit)="signup(form.value)" class="w-full max-w-md bg-white p-8 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold mb-6">Sign Up</h2>

      <!-- Username Field -->
      <div class="mb-6">
        <label for="username" class="block text-gray-700 font-medium mb-2">Username</label>
        <input placeholder="Username" class="form-input px-4 py-3 border border-gray-300 rounded-md w-full" id="username" name="username" type="text" [(ngModel)]="user.username" required>
      </div>

      <!-- Email Field -->
      <div class="mb-6">
        <label for="email" class="block text-gray-700 font-medium mb-2">Email</label>
        <input placeholder="Email" class="form-input px-4 py-3 border border-gray-300 rounded-md w-full" id="email" name="email" type="email" [(ngModel)]="user.email" required>
      </div>

      <!-- Submit Button -->
      <button class="btn bg-blue-500 hover:bg-blue-600 text-white py-3 px-6 rounded-md w-full" type="submit">
        Sign Up
      </button>

      <div *ngIf="errorMessage" [@fadeIn] class=" alert alert-danger mt-4 transition-all duration-300">
        <pre class="text-wrap">{{ errorMessage }}</pre>
      </div>
    </form>
  </div>
</section>
