<div class="flex flex-row items-center justify-center mt-4">
  <div class="border w-[17%] h-[70vh] self-start bg-yellow-400"></div>
  <div class="grow max-w-xl h-[90vh]">
    <!--main content - profile-->
    <div class="mx-8">
      <div class="flex items-start justify-start mt-10">
        <img
          [src]="
            user.profilePictureUrl || '/assets/images/Sample_User_Icon.png'
          "
          alt="Profile photo"
          class="size-32 rounded-full border border-gray-300"
        />
        <div class="flex flex-col gap-1 items-start justify-start">
          <h1 class="mt-4 text-xl font-bold ml-5">{{ user.username }}</h1>
          <p class="text-sm font-medium text-gray-600 ml-5">{{ user.email }}</p>
          <button
            class="mt-2 px-4 py-1.5 border rounded-full text-sm font-medium hover:bg-gray-100 transition ml-4"
          >
            Follow
          </button>
        </div>
      </div>

      <div class="text-[12px] tracking-wider mt-8">
        <span class="font-bold">BIO:</span> {{ user.bio }}
      </div>

      <div class="my-3 text-sm text-gray-500 border-y p-3 text-end">
        <span class="font-medium">Joined</span>
      </div>

      <div class="text-[16px] mt-3 flex flex-row gap-3">
        <div class="flex flex-row gap-1">
          <span class="font-bold">0</span> <span>Following</span>
        </div>
        <div class="flex flex-row gap-1">
          <span class="font-bold">0</span> <span>Followers</span>
        </div>
      </div>

      <div class="mt-6">
        <nav class="flex text-sm font-medium text-gray-700">
          <button
            (click)="selectTab('posts')"
            class="relative w-1/2 pb-2 text-center"
          >
            <div
              class="absolute -bottom-[2px] w-full h-[2px] bg-black"
              [class]="selectedTab === 'posts' ? 'block' : 'hidden'"
            ></div>
            <span>Posts</span>
          </button>
          <button
            (click)="selectTab('liked')"
            class="w-1/2 pb-2 text-center relative"
          >
            <span>Liked</span>
            <div
              class="absolute -bottom-[2px] w-full h-[2px] bg-black"
              [class]="selectedTab === 'liked' ? 'block' : 'hidden'"
            ></div>
          </button>
        </nav>
      </div>

      @if(selectedTab === 'posts'){
      <div>
        <p class="mt-6 text-gray-500">No posts yet.</p>
      </div>
      }

      <div *ngIf="selectedTab === 'replies'">
        <p class="mt-6 text-gray-500">No posts & replies yet.</p>
      </div>
    </div>
  </div>

  <div
    class="w-[17%] h-[90vh] self-start border-r border-t bg-yellow-400"
  ></div>
</div>
