<div class="flex justify-center items-center">
  <div class="w-full max-w-3xl p-4">
    <h2 class="text-xl font-bold mb-4">People</h2>

    @if(follows != undefined && follows.length > 0) {
    <div
      *ngFor="let follow of follows"
      class="bg-white shadow-md rounded-2xl p-4 mb-4 flex items-center"
    >
      <img
        [src]="follow.profilePhoroUrl || '/assets/images/Sample_User_Icon.png'"
        alt="Profile photo"
        class="w-16 h-16 rounded-full mr-4 object-cover"
      />
      <div class="flex-1">
        <h3 class="text-lg font-semibold">{{ follow.username }}</h3>
        <p *ngIf="follow.email" class="text-gray-600">{{ follow.email }}</p>
        <p *ngIf="follow.bio" class="text-gray-500 text-sm">{{ follow.bio }}</p>
      </div>
      <button
          [ngClass]="{
            'border-green-500 text-green-500 hover:bg-green-100': !isFollowing,
            'border-red-500 text-red-500 hover:bg-red-100': isFollowing
          }"
          class="ml-auto border-2 font-semibold py-1 px-4 rounded-xl transition duration-200"
          (click)="toggleFollow(follow)"
        >
          {{ isFollowing ? 'Unfollow' : 'Follow' }}
        </button>
    </div>
    }@else {
    <div class="text-center animate-fade-in text-gray-500 my-4">
      No follows.
    </div>
    }
  </div>
</div>
