<div class="flex justify-center">
  <div class="grow">
    <!--go to the user profile-->
    <div
      class="h-[60px] flex items-center justify-start px-4 border-gray-300 border-b text-black font-medium grow cursor-pointer hover:underline"
      [routerLink]="['/member', username]"
    >
      <!--arrow-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="size-5 rotate-180 mr-2 text-black"
        viewBox="0 0 512.000000 512.000000"
      >
        <g
          transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
          fill="#000000"
          stroke="none"
        >
          <path
            d="M1721 4034 c-94 -47 -137 -147 -107 -249 11 -37 29 -63 68 -101 29 -28 333 -290 676 -583 342 -293 622 -535 621 -539 0 -4 -277 -243 -615 -532 -777 -663 -740 -629 -759 -693 -54 -181 134 -339 298 -251 59 32 1549 1310 1583 1358 64 90 51 196 -33 278 -26 25 -382 331 -790 680 -556 476 -751 637 -781 646 -60 18 -103 14 -161 -14z"
          />
        </g>
      </svg>

      <span class="text-xl">
        {{ username }}
      </span>
    </div>

    <!--tabs-->
    <div class="mt-6">
      <nav class="flex text-lg font-medium text-teal-700">
        <button
          (click)="selectTab('following')"
          class="relative w-1/2 pb-2 text-center"
        >
          <div
            class="absolute -bottom-[2px] w-full h-[2px] bg-black"
            [class]="mode === 'following' ? 'block' : 'hidden'"
          ></div>
          <span>Підписок</span>
        </button>
        <button
          (click)="selectTab('followers')"
          class="w-1/2 pb-2 text-center relative"
        >
          <span>Підписників</span>
          <div
            class="absolute -bottom-[2px] w-full h-[2px] bg-black"
            [class]="mode === 'followers' ? 'block' : 'hidden'"
          ></div>
        </button>
      </nav>
    </div>

    <!--list of followers/ing-->
    <div class="grow max-w-[50rem] mx-auto mt-4">
      <div
        *ngIf="list.length === 0"
        class="text-center animate-fade-in text-gray-500 my-10"
      >
        {{ username }} ще не
        {{
          mode === "followers" ? "має підписників" : "підписаний(а) ні на кого"
        }}.
      </div>

      <div *ngFor="let user of list">
        <div
          class="p-2 mb-4 flex items-center cursor-pointer hover:bg-gray-100"
          routerLink="/member/{{ user.username }}"
        >
          <img
            [src]="
              user.profilePhoroUrl || '/assets/images/Sample_User_Icon.png'
            "
            alt="Profile photo"
            class="w-16 h-16 rounded-full mr-4 object-cover"
          />
          <div class="flex-1">
            <h3 class="text-lg font-semibold">{{ user.username }}</h3>
            <p *ngIf="user.email" class="text-gray-600">{{ user.email }}</p>
            <p *ngIf="user.bio" class="text-gray-500 text-sm">{{ user.bio }}</p>
          </div>

          @if(user.email !== currentUserEmail) {
          <button
            (click)="toggleFollow(user)"
            class="ml-auto border text-gray-500 border-gray-400 py-1 px-4 rounded-full transition duration-200 hover:bg-gray-200"
          >
            {{ user.isFollowedByCurrentUser ? "Не стежити" : "Стежити" }}
          </button>
          }
        </div>
      </div>
    </div>
  </div>

  <!-- News view bar -->
  <div
    class="grow-0 shrink-0 basis-[320px] flex flex-col border-x-2 border-gray-300 h-full"
  >
    <span class="font-medium text-lg px-4 py-2">Останні новини</span>

    <div
      class="relative w-full h-[710px] border-b-2 border-gray-300 overflow-hidden"
    >
      <app-news class="absolute -top-[56px] left-0"></app-news>
    </div>
  </div>
</div>
